body {
    background: #c1b8ee;
    color: #FAFAFA;
    font-size: 55px;
    font-family: 'Fira Sans', sans-serif;
}

.container {
    border: 10px solid #090c98;
}

.item {
    background: #679cf0;
    border: 1px solid #660620;
    text-align: center;
    padding: 10px;
}